<div class="col-12 col-md-6 col-lg-3">
  <div class="ui-card h-100 text-center">
    <div class="card-body">
      {% if instance.logo %}
        <img src="{{ instance.logo.url }}" class="mb-3" alt="{{ instance.alt_text|default:instance.name }}">
      {% endif %}
      <h6 class="text-uppercase text-primary">{{ instance.name }}</h6>
      {% if instance.short_description %}
        <p class="text-muted small">{{ instance.short_description }}</p>
      {% endif %}
      {% if instance.link_url %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ instance.link_url }}">{{ instance.button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>
