<div class="col-12 col-lg-4">
  <div class="ui-card h-100">
    {% if instance.image %}
      <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.alt_text|default:instance.title }}">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ instance.title }}</h5>
      {% if instance.client %}
        <p class="text-muted small">{{ instance.client_label }}: {{ instance.client }}</p>
      {% endif %}
      {% if instance.summary %}
        <p class="text-muted">{{ instance.summary }}</p>
      {% endif %}
      {% if instance.results %}
        <ul class="small text-muted">
          {% for line in instance.results.splitlines %}
            <li>{{ line }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
    {% if instance.link_url %}
      <div class="card-footer bg-transparent border-0">
        <a class="btn btn-outline-secondary btn-sm" href="{{ instance.link_url }}">{{ instance.button_text }}</a>
      </div>
    {% endif %}
  </div>
</div>
