<div class="col-12 col-md-6 col-lg-4">
  <div class="ui-card h-100">
    {% if instance.image %}
      <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.alt_text|default:instance.name }}">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title">{{ instance.name }}</h5>
      {% if instance.description %}
        <p class="text-muted">{{ instance.description }}</p>
      {% endif %}
      {% if instance.link_url %}
        <a class="btn btn-outline-secondary btn-sm" href="{{ instance.link_url }}">{{ instance.button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>
